<h1 class="h3 text-center">Hesabım</h1>
<div class="list-group mt-3">
    <a href="/account/manage" class="list-group-item list-group-item-action active">
        <div class="d-flex justify-content-between">
            Bilgilerim
            <span>></span>
        </div>
    </a>
    <a href="/account/AddressList" class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between">
            Adreslerim
            <span>></span>
        </div>
    </a>
    <a href="/orders" class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between">
            Siparişlerim
            <span>></span>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between">
            Değerlendirmelerim
            <span>></span>
        </div>
    </a>
</div>